/* -------------------- NAV BAR */

.navbar {
  background-color: rgb(45, 41, 38);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 40px;
  padding-left: 10px;
}

.navbar span {
  display: flex;
  margin-inline: 20px;
  justify-content: space-between;
  align-items: center;
  color: rgb(255, 164, 10);
  font-family: monospace;
}

.nav-items {
  margin: 0;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ff9a3c;
  width: 400px;
  font-family: 'Courier', monospace;


}

.nav-items a:hover {
  transform: scale(1.25);
}

.toggle-button {
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 31px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: #ff9a3c;
  border-radius: 10px;
}

@media (max-width: 800px) {
  .toggle-button {
    display: flex;
  }

  .nav-items {
    display: none;
  }

  .nav-items {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  .nav-items.active {
    display: flex;
  }

  /* .search-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 340px;
    height: 370px;
    background-color: #d9b382;
    border-radius: 20px;
    padding: 20px;
    position: flex;
    top: 130px;
    right: 250px;
  } */

}

.logout {
  color: #ff9a3c;
  background: transparent;
  border: none;
  cursor: pointer;
}



/* --------------------SEARCH BAR PAGE */

.search-page {
  background-image: url("/Users/gabrielabezerra/src/react-project/restaurant-ratings/src/background_homepage.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.search-inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 340px;
  height: 370px;
  background-color: #eeca9b;
  ;
  border-radius: 20px;
  padding: 20px;
  position: absolute;
  top: 130px;
  right: 250px;
}

.search-page label {
  display: flex;
  margin: 10px 0px;
  text-align: left;
  font-family: 'Courier', monospace;

}


.search-page input,
.search-page select {
  width: 100%;
  padding: 5px 40px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 1px solid #ff9a3c;
  background-color: white;
  border-radius: 4px;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

.search-page input[type="submit"] {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: left;
}

.one h1 {
  font-size: 18px;
  text-align: center;
  font-family: 'Courier', monospace;
  text-transform: uppercase;
  padding-bottom: 15px;
}

.one h1:before {
  width: 28px;
  height: 5px;
  display: block;
  content: "";
  position: absolute;
  bottom: 284px;
  left: 50%;
  margin-left: -14px;
  background-color: #b84d00;
}

.one h1:after {
  width: 150px;
  height: 1px;
  display: block;
  content: "";
  position: relative;
  margin-top: 8px;
  left: 50%;
  margin-left: -75px;
  background-color: #b84d00;
}

.myButton {
  width: 40%;
  height: 2em;
  background-color: rgb(255, 164, 10);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  border-radius: 0.25em;
  border: none;
  cursor: pointer;
  font-family: 'Courier New', Courier, monospace;
}

.myButton:hover {
  transform: scale(1.25);
}


.myButton:active {
  position: relative;
  top: 1px;
}

.all-rest-btn {
  width: 100%;
  height: 2em;
  margin-top: 20px;
}

.input-wrapper {
  display: flex;
  align-items: auto;
}

.categories-city {
  max-width: 40%px;
  height: 2em;
}

.dataResult {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  width: 100%;
  min-height: 120px;
  background-color: whitesmoke;
  border-radius: 10px;
  padding: 20px;
  position: absolute;
  top: 650px;
  right: 0;
}

.dataResult ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: left;

}

.restaurant-photo {
  width: 50px;
  height: 50px;
  border-radius: 20%;
  object-fit: cover;
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle;
}

.results-link {
  text-decoration: none;
  border-bottom: none;
  transition: border-bottom 0.2s;
  font-family: 'Courier', monospace;
  color: black;
}

.results-link:hover {
  border-bottom: 2px solid orange;
}

/* --------------------LOGIN PAGE  */

.google {
  background-image: url("/Users/gabrielabezerra/src/react-project/restaurant-ratings/src/google.png");
}

.facebook {
  background-image: url("/Users/gabrielabezerra/src/react-project/restaurant-ratings/src/facebook.png");
}

.cover {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace
}

.login-page {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cover {
  background-color: #eeca9b;
  ;
  width: 30em;
  height: 35em;
  position: relative;
  border-radius: 1em;
  /* box-shadow: 0 0.188em 1.55em rgb(156, 156, 156); */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.alt-login {
  width: 80%;
  height: 3em;
  display: flex;
  justify-content: space-around;
}

.alt-login div {
  width: 45%;
  height: 90%;
  border-radius: 0.25em;
  background-color: whitesmoke;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}


input {
  border: none;
  background-color: rgb(229, 226, 226);
  height: 4em;
  width: 80%;
  border-radius: 0.25em;
  text-align: center;
  padding: 2em;
}

input :focus {
  outline-color: rgb(32, 177, 255);
}

.login-btn {
  width: 40%;
  height: 3em;
  background-color: rgb(141, 138, 137);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  border-radius: 0.25em;
  border: none;
  cursor: pointer;
  text-align: center;
}

.login-btn:hover {
  transform: scale(1.25);
}

.text {
  position: relative;
  bottom: -2em;
}

.cover h1 {
  font-size: 37px;
  text-align: center;
  font-family: 'Courier', monospace;
  text-transform: uppercase;
  padding-bottom: 15px;
}

.cover h1:before {
  width: 28px;
  height: 5px;
  display: block;
  content: "";
  position: absolute;
  bottom: 490px;
  left: 50%;
  margin-left: -14px;
  background-color: #b84d00;
}

.cover h1:after {
  width: 150px;
  height: 1px;
  display: block;
  content: "";
  position: relative;
  margin-top: 8px;
  left: 50%;
  margin-left: -75px;
  background-color: #b84d00;
}

.error-message {
  text-emphasis-color: red;
}

/* -------------------- SIGN UP  */


.sign-up-page {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cover-sign-up {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace
}


.cover-sign-up h1 {
  margin-top: 15px;
  font-size: 30px;
  text-align: center;
  font-family: 'Courier', monospace;
  text-transform: uppercase;
  padding-bottom: 15px;
}

.cover-sign-up h1:before {
  width: 28px;
  height: 5px;
  display: block;
  content: "";
  position: absolute;
  bottom: 495px;
  left: 50%;
  margin-left: -14px;
  background-color: #b84d00;
}

.cover-sign-up h1:after {
  width: 150px;
  height: 1px;
  display: block;
  content: "";
  position: relative;
  margin-top: 8px;
  left: 50%;
  margin-left: -75px;
  background-color: #b84d00;
}



.cover-sign-up {
  background-color: #eeca9b;
  width: 30em;
  height: 35em;
  position: relative;
  border-radius: 1em;
  /* box-shadow: 0 0.188em 1.55em rgb(156, 156, 156); */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}


/* -------------------- USER PROFILE */

.container-user-profile {
  background-image: url("/Users/gabrielabezerra/src/react-project/restaurant-ratings/src/background.jpg");
  background-size: cover;
  background-position: center;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.user-details {
  font-family: 'Courier New', Courier, monospace;
  background-color: #eeca9be2;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  width: 70%;
  height: auto;
  position: relative;
  margin-top: 20px;
  align-items: center;
}


.user-photo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-photo img {
  width: 30%;
  margin: 30px 0;
  border-radius: 50%;
}

.initials-placeholder {
  width: 20%;
  margin: 30px 0;
  text-align: center;
  background-color: #ccc;
  font-size: 3em;
  border-radius: 50%;
  line-height: 2.5em;
}

.user-name,
.user-email {
  margin: 10px 0;
}


.fav-lst {
  margin-top: 30px;
}

.fav-lst h3 {
  margin-bottom: 10px;
}

.fav-lst ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: left;
}

.fav-lst li {
  margin-bottom: 10px;
}

.fav-lst li a {
  color: #333;
  text-decoration: none;
}

.fav-lst li a:hover {
  color: #0066c0;
}

/* -------------------- RESTAURANT DETAILS */

.container-rest-dtls {
  background-image: url("/Users/gabrielabezerra/src/react-project/restaurant-ratings/src/background.jpg");
  background-size: cover;
  background-position: center;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.restaurant-details {
  font-family: 'Courier New', Courier, monospace;
  background-color: #eeca9be2;
  ;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  width: 70%;
  height: auto;
  position: relative;
  margin-top: 20px;
  align-items: center;
}

.rest-dtls-title {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 15px;
}

.restaurant-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.rest-dtls-cover {
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.rest-dtls-address {
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.rest-dtls-ratings {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.yellow-star {
  color: #FFC107;
  font-size: 20px;
  font-weight: bold;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}


.fav-btn {
  background-color: rgb(255, 164, 10);
  border: none;
  border-radius: 0.5rem;
  color: white;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.fav-btn:hover {
  background-color: #FFA000;
}

.review-btn {
  background-color: rgb(255, 164, 10);
  border: none;
  border-radius: 0.5rem;
  color: white;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.review-btn:hover {
  background-color: #FFA000;
}

.rest-dtls-rev-title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.rest-dtls-reviews {
  margin-top: 2rem;
  margin-left: 5px;
}

.rest-dtls-reviews p {
  margin-bottom: 5px;

}


.rest-dtls-rev-img {
  width: 100px;
  height: 100px;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.rest-dtls-rev-lst {
  margin-left: 10px;
}

.rest-dtls-rev-info {
  font-style: italic;
}

.rest-dtls-rev-itm {
  margin-bottom: 30px;

}

.hr-container {
  width: 30%;
  margin: 0 auto;
  text-align: center;
}

hr {
  width: 100%;
}


.modal-image {
  display: flex;
  margin: 0 auto;
  margin-bottom: 30px;
  width: 700px;
  height: 500px;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.modal-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-btn {
  background-color: #FFC107;
  border: none;
  border-radius: 0.5rem;
  color: white;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.modal-btn[disabled] {
  opacity: 0.5;
  pointer-events: none;
}

.review-modal {
  margin-top: 20px;
}









/* -------------------- ALL COMPONENTS */

.background {
  background-image: url("/Users/gabrielabezerra/src/react-project/restaurant-ratings/src/background.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



/* .input-sign-up {
  border: none;
  background-color: rgb(229, 226, 226);
  height: 2.5em;
  width: 80%;
  border-radius: 0.25em;
  text-align: center;
  padding: 2em;
} */


/* .sign-up-page {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
} */

/* .cover-sign-up {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace
} */

/* .cover-sign-up {
  background-color: white;
  width: 30em;
  height: 35em;
  position: relative;
  border-radius: 1em;
  box-shadow: 0 0.188em 1.55em rgb(156, 156, 156);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
} */

/* .input-sign-up {
  border: none;
  background-color: rgb(229, 226, 226);
  height: 2.5em;
  width: 80%;
  border-radius: 0.25em;
  text-align: center;
  padding: 2em;
} */